@model DemoIoTWeb.Areas.Admin.ViewModel.VMDevice


@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}


<div class="form-group">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.SelectedUserId)
    @Html.DropDownListFor(model => model.SelectedUserId, (Model.Users)
        .Select(option => new SelectListItem
        {
            Text = option.Email,
            Value = option.Id.ToString(),
            Selected = (Model != null) && (option.Id == Model.SelectedUserId)
        }), "Select user...", new { @class = "form-control" })
    <span id="helpBlock2" class="help-block">
        @Html.ValidationMessageFor(m => m.SelectedUserId)
    </span>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.SerialNumber)
    @Html.TextBoxFor(m => m.SerialNumber, new { @class = "form-control" })

    <span id="helpBlock2" class="help-block">
        @Html.ValidationMessageFor(m => m.SerialNumber)
    </span>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Description)
    @Html.TextBoxFor(m => m.Description,
                                 new { @class = "form-control" })

    <span id="helpBlock2" class="help-block">
        @Html.ValidationMessageFor(m => m.Description)
    </span>
</div>

<div class="form-group">
    <input type="submit" class="btn btn-success" value="Salvar" />
    @Html.ActionLink("Voltar", "Index",
                        new { area = "Admin", controller = "Device" },
                        new { @class = "btn btn-default" })
</div>


