@model DemoIoTWeb.Areas.Admin.ViewModel.VMUser


@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}


<div class="form-group">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Email)

    @if (Model.Id != 0)
    {
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    }
    else
    {
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control disabled" })
    }

    <span id="helpBlock2" class="help-block">
        @Html.ValidationMessageFor(m => m.Email)
    </span>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password,
                                 new { @class = "form-control" })

    <span id="helpBlock2" class="help-block">
        @Html.ValidationMessageFor(m => m.Password)
    </span>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.PasswordConfirmation)
    @Html.PasswordFor(m => m.PasswordConfirmation,
                                 new { @class = "form-control" })

    <span id="helpBlock2" class="help-block">
        @Html.ValidationMessageFor(m => m.PasswordConfirmation)
    </span>
</div>

<div class="form-group">
    <input type="submit" class="btn btn-success" value="Save" />
    @Html.ActionLink("Back", "Index",
                        new { area = "Admin", controller = "Home" },
                        new { @class = "btn btn-default" })
</div>


